
.interests-list-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 10px;
}

.interests-list-container li {
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    border: solid 0.25px;
    border-color: #48535a;
    margin: 5px 5px;
}


#goals {
    background-color: burlywood;
} 

#follower {
    background-color: orange;
} 

#post {
    background-color: lightcoral;
} 

.profile-container {
    margin-top: -60px;
    padding: 20px 20px 90px 20px;
    border-top-right-radius: 70px 60px;
    position: relative;
}

.follow-container {
    display: flex;
    justify-content: center;
}

.follow-item {
    text-decoration: none;
    padding: 10px;
}

.end-container {
    padding-bottom: 100px;
}
.start-container {
    padding: 10px 20px 70px 20px;
}



/* CURVED COLOR CSS Classes: 
--> later to be located in App.css */

.cc-goals:before {
    color: burlywood;
}
.cc-follower {
    color: orange;
} 

.cc-post {
    color: lightcoral;
} 



.link-blue-library {
    background-color: #48535a;
    color: white;
    min-width: 170px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

#link-library-container {
    display: flex;
    justify-content: center;
}


