#btn-create-post {
    background-color: #0D4040;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
}

#fix-container {
    position: fixed;
    bottom: 100px;
    right: 25px;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-icon {
    font-size: 25px;
    color: white;
}

.feeds-page {
    padding-bottom: 85px;
}
